/* EDITING THIS WILL EDIT CSS FOR ALL TABS */

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Open+Sans&family=Oswald&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;

}

.container-fluid {
    max-width: 768px;
}

#footerPlaceholder {
    margin-top: auto;
}

/* These edit the look of top nav */
.nav-pills .nav-link {
    border-radius: 0;
}

.navbar {
    padding-top: 10px;
    padding-bottom: 10px;

}

.navbar-brand {
    padding-bottom: 0;
}

.nav-link {
    border-radius: 5px;

}

.nav-link:hover {
    background-color: #686868ad;
}



/* edit logo */
.material-symbols-outlined {
    font-variation-settings:
        'FILL'1,
        'wght'500,
        'GRAD'200,
        'opsz'48
}

[title~=logo] {
    height: 50px;
    width: auto;
}




/* Text in Hero */
.fw-bold {
    color: white;
    text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
    background-color: transparent;
}

.lead {
    color: white;
    text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
}

.py-5 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(transparent, #000000 75%);
}

/* Margins for mainCon and footer */
.my-4 {
    margin-top: 0 !important;
}

.my-5 {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}






#botNavL {
    color: white;
    background-color: #0892d0;
}

#botNavML {
    color: white;
    background-color: #0892d0;
}

#botNavMR {
    color: white;
    background-color: #0892d0;
}

#botNavR {
    color: white;
    background-color: #0892d0;
}

#botNavL:hover {
    color: rgb(194, 194, 194);
    background-color: #0877aa;
}

#botNavML:hover {
    color: rgb(194, 194, 194);
    background-color: #0877aa;
}

#botNavMR:hover {
    color: rgb(194, 194, 194);
    background-color: #0877aa;
}

#botNavR:hover {
    color: rgb(194, 194, 194);
    background-color: #0877aa;
}

#footerPlaceholder {
    position: sticky;
    bottom: 0;
}

#footer {
    position: sticky;
    bottom: 0;
}
