

#petPic{
    grid-area: picOfPet;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    
    background-image: url(/public/img/Grumpy-Cat.webp); /* This needs to be changable throungh js */
    background-repeat: no-repeat;
    background-size: contain;


}
#petPicHolder{/* This is not where the profile pic is, this is the container for it */
    grid-area: pic;
    display: flex;
    justify-content: center;
    align-items: center; 
}

#petInfo{
    grid-area: info;
    text-align: center;
    color: white;
    font-size: 20px;
    text-shadow:
        0.05em 0 black,
        0 0.05em black,
        -0.05em 0 black,
        0 -0.05em black,
        -0.05em -0.05em black,
        -0.05em 0.05em black,
        0.05em -0.05em black,
        0.05em 0.05em black;
}
#editProfile{
    grid-area: edit;

    display: flex;
    justify-content: center;
    align-items: center;
    
}
#editButton{
    border-radius: 10%;
    background-color: #0892d0;
    color: black;
    border: 2px solid #0892d0;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}
#editButton:hover {
    background-color: #0892d0;
    color: white;
}


#topPortion{
    grid-area: topPart;
    border: 1px solid black;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr ;
    grid-template-areas: 
    ". . . edit"
    ". pic pic ."
    ". pic pic ."
    ". info info .";

    background-image: url(/public/img/profilebackground.jpg);  /* This needs to be changable throungh js */
    background-repeat: no-repeat;
    background-size: cover;
 
    
}
#bottomPortion{
    grid-area: botPart;
    border: 1px solid black;
    padding: 10px;
}
.mainPetProfileContainer{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 300px 80vh;
    grid-template-areas: 
    "topPart"
    "botPart";
}

