@font-face {
  font-family: "Josefin";
  src: url("../font/JosefinSans-VariableFont_wght.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
.barTop{
      height: 25px;
      background-color: #8ecae675;
  }
#one{
  grid-area: one;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: #8ecae6;
  border-right: none;
}
#two{
  grid-area: two;
  border-right: none;
  border-left: none;
}
#three{
  grid-area: three;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-left: none;
}
#bar{
  grid-area: bar;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: 
  "one two three";

  padding-left: 10vw;
  padding-right: 10vw;
}
#progress{
  
  grid-area: mid;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: 
  "bar";
}



body {
  background-color: #8ecae6;
  margin: 0;
  padding: 0;
  font-family: "Josefin";
}

#blank {
  grid-area: blank;
}

#backButtonCon {
  grid-area: backTop;
  display: grid;
  grid-template-columns: 1fr 6fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
   "backBtn blank backBtnR"
  "mid mid mid";
}

#backButtonR {
  grid-area: backBtnR;
  border: none;
  background-color: transparent;
  padding: 20px 40px 0 0;
}

#backButton {
  grid-area: backBtn;
  border: none;
  background-color: transparent;
  padding: 20px 0 0 40px;
}

#textBoxTop {
  grid-area: textBox;
  display: flex;
  justify-content: center;
  align-items: center;
}

input[type="file"] {
  display: none;
}

#labelPet {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  border-radius: 10px;
  margin-top: 20px;
}

#petPicHere {
  height: 150px;
  width: 206px;
  border-radius: 10px;
  object-fit: cover;

}

#profilePic {
  grid-area: petPic;
  display: flex;
  justify-content: center;
  align-items: center;

  border: 1px solid rgb(0, 0, 0);
  height: 150px;
  width: 206px;
  border-radius: 10px;
}

#profilePicHolder {
  grid-area: profilePic;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}


#name {
  grid-area: name;
  padding: 0 10vw 0 10vw;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

#age {
  grid-area: age;
  padding: 0 10vw 0 10vw;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.weight {
  grid-area: weightPet;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

#weightPet {
  padding-left: 47px;
  padding-right: 47px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
}

#userSubmitBtn {
  padding-left: 10vw;
  padding-right: 10vw;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #219ebc;
  border-color: #219ebc;
  border-radius: 10px;
  color: white;
}

#nextButtonBox {
  grid-area: next;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

#TypeCon {
  margin-top: 20px;
  margin-bottom: 20px;
  grid-area: typePet;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

#Type {
  width: fit-content;
  border-radius: 4px;

  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

}

#Type input {
  display: none;
}

#Type label {
  display: flex;


  text-align: center;
  justify-content: center;
  align-items: center;

  margin: 15px;
  padding: 10px 16px;
  border: 1px solid #ccc;

  cursor: pointer;
  transition: all 0.3s;


  width: 80.5px;
  font-size: 20px;
  border-radius: 10px;

  height: 52px;


}

#Type label:hover {
  background: #eee;
}

#Type input:checked+label {
  background: #219EBC;
  color: white;
}

#weightCon {
  margin-top: 20px;
  margin-bottom: 20px;

  padding-left: 20px;
  padding-right: 20px;
  grid-area: weightPet;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

#weight {
  width: fit-content;
  border-radius: 4px;

  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

}

#weight input {
  display: none;
}

#weight label {
  display: flex;


  text-align: center;
  justify-content: center;
  align-items: center;

  margin: 12px;
  padding: 10px 16px;
  border: 1px solid #ccc;

  cursor: pointer;
  transition: all 0.3s;

  width: 120px;
  font-size: 20px;
  border-radius: 10px;

  height: 52px;
  width: fit-content;

}

#weight label:hover {
  background: #eee;
}

#weight input:checked+label {
  background: #219EBC;
  color: white;
}


.mainCon {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100px 1fr 0.5fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "backTop"
    "profilePic"
    "profilePicText"
    "name"
    "age"
    "typePet"
    "weightPet"
    "next";

  background-color: white;
  margin: 50px;
  border-radius: 10px;
  height: 120vh;
}

#foot {
  position: sticky;
  bottom: 0;
}

#btn {
  background-color: transparent;
  border-color: transparent;
  font-size: larger;
}

@media only screen and (max-width: 768px) {
  .mainCon {
    height: 135vh;
    border-radius: 0;
    margin: 0;
  }

  .mainCon {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 150px 1fr 0.5fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
      "backTop"
      "profilePic"
      "profilePicText"
      "name"
      "age"
      "typePet"
      "weightPet"
      "next";
  }
  #nameTextBoxBot{
    font-size: 20px;
  }
  #ageTextBoxBot{
    font-size: 20px;

  }
  .text{
    font-size: 20px;

  }

  #TypeCon {
    margin-top: 0;
    margin-bottom: 0;

    padding-top: 10px;
  }
}

@media only screen and (min-width: 769px) {
  .mainCon {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
      "backTop backTop"
      " name profilePic"
      " age profilePic"
      " typePet profilePic"
      " weightPet profilePic"
      " next profilePicText";

  }

  #name {
    justify-content: center;
    font-size: 30px;

  }

  #age {
    justify-content: center;
    font-size: 30px;


  }

  #Type label {
    width: 89px;
  }


  #weightTest {
    font-size: 30px;

  }

  .text {
    font-size: 30px;

  }

  .weight {
    justify-content: center;

  }

  #petPicHere {
    height: 35vh;
    width: 30vw;


    border-radius: 10px;
    object-fit: cover;
  }

  #profilePic {

    height: auto;
    width: auto;
    border-radius: 10px;
  }

  #petNameBox {
    width: 208px;
    font-size: 20px;
  }

  #ageNameBox {
    width: 208px;
    font-size: 20px;


  }
}