@font-face {
    font-family: 'Josefin';
    src: url('../font/JosefinSans-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #8ecae6;
    margin: 0;
    padding: 0;
    font-family: "Josefin";
    
}




#blank{
    grid-area: blank;
}
#backButtonCon{
    grid-area: backTop;
    display: grid;
    grid-template-columns: 1fr 6fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "backBtn blank";
}
#backButton{
    
    grid-area: backBtn;
    border: none;
    background-color: transparent;
    padding: 20px 0 0 40px;
    position: absolute;
}
#textBoxTop{
    grid-area: textBox;
    display: flex;
    justify-content: center;
    align-items: center;
}
#btn {
    background-color: transparent;
    border-color: transparent;
    font-size: larger;
}
input[type="file"] {
    display: none;
}
#labelPet {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    border-radius: 10px;
    margin-top: 20px;
}
#petPicHere {
    width: 206px;
    height: 150px;
    border-radius: 10px;
    object-fit: cover;
}
#profilePic{
    grid-area: petPic;
    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px solid black;
    border-radius: 50%;
    height: 150px;
    width: 206px;
    border-radius: 10px;
}
#profilePicHolder{
    grid-area: profilePic;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 1fr;
    grid-template-areas: 
    "textBox"
    "petPic";
    align-items: end;
    justify-items: center;
    
}
#profilePicDesc{
    grid-area: profilePicText;
    display: flex;
    align-items: center;
    justify-content: center;
}
#name{
    grid-area: name;
    padding:  0 10vw 0 10vw;  
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}
#age{
    grid-area: age;
    padding:  0 10vw 0 10vw;  
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}
.weight{
    grid-area: weightPet;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}
#weightPet{
    padding-left: 47px;
    padding-right: 47px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
}
#userSubmitBtn{
    padding-left: 10vw;
    padding-right: 10vw;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #219EBC;
    border-color: #219EBC;
    border-radius: 10px;
    color: white;

}
#nextButtonBox{
    grid-area: next;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.mainCon{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.2 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "backTop"
    "profilePic"
    "profilePicText"
    "name"
    "age"
    "weightPet"
    "next";

    background-color: white;
    margin: 50px;
    border-radius: 10px;
    height: 89vh;


}

.modelCon{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    background-color: rgba(0,0,0,0.3);

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 20px;
}
.modelCon.close {
    opacity: 0;
    pointer-events: none;
}

.model{
    background-color: white;
    max-width: 100%;
    border-radius: 10px;
    padding: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    box-shadow: 0 2px 4px rgba(0,0,0,0.3);

    text-align: center;

}



#close{
    padding-left: 10vw;
    padding-right: 10vw;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #219EBC;
    border-color: #219EBC;
    border-radius: 10px;
    color: white;

}



@media only screen and (max-width : 768px){
    
}

@media only screen and (min-width: 769px){
    .mainCon {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 100px 1fr 1fr 1fr 1fr;
      grid-template-areas:
        "backTop backTop"
        " name profilePic"
        " age profilePic"
        " weightPet profilePic"
        " next profilePicText";
    
    }
  
    #name {
      justify-content: center;
      font-size: 30px;
  
    }
    
    #age {
      justify-content: center;
      font-size: 30px;
  
  
    }
    
    #weightText {
      font-size: 30px;
  
    }
    #weightPet{
      font-size: 20px;
  
    }
    .weight{
      justify-content: center;
  
    }
  
    #petPicHere {
      width: 30vw;
      height: auto;
      border-radius: 10px;
    }
    
    #profilePic {
  
      height: auto;
      width: 30vw;
      border-radius: 10px;
    }
    #petNameBox{
      width: 208px;
      font-size: 20px;
    }
    #ageNameBox{
      width: 208px;
      font-size: 20px;
  
  
    }

    #petPicHere {
        height: 35vh;
        object-fit: cover;
    
    }
      
    #profilePic {
        margin-top: 30px;
        height: 35vh;
        
    }
  
  }