

#petPic{
    grid-area: picOfPet;
 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-image: url(/public/img/Grumpy-Cat.webp);
    background-repeat: no-repeat;
    background-size: contain;


}
#petPicHolder{
    grid-area: pic;

    display: flex;
    justify-content: center;
    align-items: center; 
}

#petInfo{
    grid-area: info;
    text-align: center;
    color: white;
    font-size: 20px;
    text-shadow:
        0.07em 0 black,
        0 0.07em black,
        -0.07em 0 black,
        0 -0.07em black;
}
#editProfile{
    grid-area: edit;

    display: flex;
    justify-content: center;
    align-items: center;
    
}
#editButton{
    border-radius: 10%;
    background-color: white;
    color: black;
    border: 2px solid #555555;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

#editButton:hover {
    background-color: #555555;
    color: white;
  }


#topPortion{
    grid-area: topPart;
    border: 1px solid black;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr ;
    grid-template-areas: 
    ". . . edit"
    ". pic pic ."
    ". pic pic ."
    ". info info .";

    background-image: url(/public/img/profilebackground.jpg);
    background-repeat: no-repeat;
    background-size: cover;
 
    
}
#bottomPortion{
    grid-area: botPart;
    border: 1px solid black;
    padding: 10px;
}

.mainPetProfileContainer{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 300px 80vh;
    grid-template-areas: 
    "topPart"
    "botPart";
}

