@font-face {
    font-family: 'Josefin';
    src: url('../font/JosefinSans-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #8ecae6;
}

h1 {
    font-family: 'Josefin';
    text-align: center;
    font-size: xx-large;
}

.Title {
    grid-area: title;
    background-color: #0196B7;
    color: #FFF;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.Title button {
    background: transparent;
    color: white;
    border: none;
}
.Back-Arrow {
    background-color: transparent;
    border: none;
}

.Content {
    grid-area: content;
    background-color: #FFF;
    border-radius: 10px;
}

.progresscontainer {
    grid-area: progress;
    background-color: #0196B7;
}

.progress {
    max-width: 568px;
    margin-left: auto;
    margin-right: auto;
    background: #219EBC;
}

.progress-bar {
    background-color: #8ECAE6;
}


/* Container for mobile and tablet */
@media only screen and (max-width: 768px) {
    .responsive {
        display: grid;
        max-width: 768px;
        min-height: 80vh;
        background-color: #FFF;
        border-radius: 10px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 5vh;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 0.5fr 5fr;
        grid-template-areas: 
        "title"
        "progress"
        "content";

    }
}

/* Container for monitors */
@media only screen and (min-width: 769px) {
    .responsive {
        display: grid;
        min-width: 768px;
        max-width: 768px;
        min-height: 80vh;
        max-height: 80vh;
        background-color: #FFF;
        border-radius: 10px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 0.5fr 5fr;
        grid-template-areas: 
        "title"
        "progress"
        "content";
    }
}