/* .weatherWidget {
    
} */

@font-face {
    font-family: 'Josefin';
    src: url('../font/JosefinSans-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #8ecae6;
    margin: 0;
    padding: 0;
    font-family: "Josefin";
}

#backButton{
    grid-area: backTop;
    border: none;
    background-color: transparent;
    padding-top: 30px;
    padding-right: 80vw;
    padding-left: 5vw;
    position: absolute;
}

.mainCon{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "backTop"
    "info"
    "age"
    "coat"
    "face"
    "brain"
    "heart"
    "lungs"
    "next";

    background-color: white;
    margin: 50px;
    border-radius: 10px;
    height: 89vh;
}

#toggle-units {
    margin-top: 0;
}

.symptomTable {
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(200px, 1fr));
    align-items: center;
    justify-content: center;

}

.symptomItem {
    background-color: #FFF;
    padding: 5px;
    text-align: center;
}

#petStuff{
    grid-area: info;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.qcontainer{
    grid-area: face;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;

}
#question{
    padding-left: 107px;
    padding-right: 107px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
}