
header{
    position: sticky;
    top: 0;
}
footer{
    position: sticky;
    bottom: 0;
}

.nav-pills .nav-link{
    border-radius: 0;
}
.navbar{
    padding-top: 10px;
    padding-bottom: 10px;
}




/* Doesn't do anthing yet */
/* #head{
grid-area: head;
}
#mainCon{
grid-area: main;
}
#foot{
grid-area: feet;
}
.webContainer{
    display: grid;
    position: relative;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
    "head"
    "main"
    "feet";

}  */