
header{
    position: sticky;
    top: 0;
}
footer{
    position: sticky;
    bottom: 0;
}

.nav-pills .nav-link{
    border-radius: 0;
}
.navbar{
    padding-top: 10px;
    padding-bottom: 10px;
}
.navbar-brand{
    padding-bottom: 0;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 500,
  'GRAD' 200,
  'opsz' 48
}

.nav-link:hover{
    background-color: #c9c9c9;
}

#botNavL{
    color: white;
    background-color: blue;
}
#botNavML{
    color: white;
    background-color: blue;
}
#botNavMR{
    color: white;
    background-color: blue;
}
#botNavR{
    color: white;
    background-color: blue;
}
#foot a:hover{
    background-color: rgb(0, 0, 139);
}



