*{
    margin: 0;
    padding: 0;
}


/* These five edit the look of top nav */
.nav-pills .nav-link{
    border-radius: 0;
}
.navbar{
    padding-top: 10px;
    padding-bottom: 10px;
}
.navbar-brand{
    padding-bottom: 0;
}
.nav-link{
    border-radius: 5px;
}
.nav-link:hover{
    background-color: #c9c9c9;
    border-radius: 5px;
}

/* edit icons */
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 500,
  'GRAD' 200,
  'opsz' 48
}





/* save this code to use in main page */
/* #botNavL{
    color: white;
    background-color: blue;
}
#botNavML{
    color: white;
    background-color: blue;
}
#botNavMR{
    color: white;
    background-color: blue;
}
#botNavR{
    color: white;
    background-color: blue;
}
#foot a:hover{
    background-color: rgb(0, 0, 139);
} */


@media only screen and (max-width : 701px){

    header{
        position: sticky;
        top: 0;
    }

}
